.text-right {
  text-align: right;
}
.position-ab {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows {
  padding: 0;
  margin: 0;
}

p#\:r5\: {
  padding: 0;
  margin: 0;
}
