.shearIcon {
  border-radius: 50px;
  min-width: fit-content !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: fit-content !important;
}

/* CSS */
.button-39 {
  background-color: #e8eff0;
  border: 0px solid rgb(209, 213, 219);
  border-top: 1px solid rgb(209, 213, 219);
  border-radius: 0.1rem;
  box-sizing: border-box;
  color: #444750;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100% !important;
}

.button-39:hover {
  background-color: rgb(226, 231, 236);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

.width100 {
  width: 100% !important;
}

.TextFieldColor {
  color: var(--body_color) !important;
}
